/*
	Author: narmesh_sah
	Link: https://uiverse.io/narmesh_sah/hungry-pig-40
*/

.live-star__wrapper {
  @size is-20;
  @layout is-flex;
  @flex items-center justify-center;
}

.live-star {
  @position is-relative;
  @size w-1/2;
  @layout is-flex;
  @flex items-center justify-center;

  filter: drop-shadow(0 0 2px #fff);

  @childs direct {
    @position is-absolute;
    @size w-full;
    @layout ratio-square;
    @bg color-surface-fg;

    @motion safe {
      animation: animate-live-star-rotate 6s infinite;
    }

    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }

  @childs nth("2") {
    width: 120%;
    animation-delay: 1s;
  }

  @childs nth("3") {
    width: 140%;
    animation-delay: 1.5s;
  }

  @childs nth("4") {
    width: 160%;
    animation-delay: 2s;
  }

  @childs nth("5") {
    width: 180%;
    animation-delay: 2.5s;
  }
}

@keyframes animate-live-star-rotate {
  to {
    rotate: 360deg;
  }
}
